django==2.2.10
django-rest-framework
boto3
dj-database-url
django-environ
psycopg2
django-staff-sso-client
pyyaml
requests
redis
celery
django_celery_beat
django-celery-results
sentry-sdk
backoff
django-prometheus
smart-open

whitenoise
gunicorn

urllib3>=1.24.2
