django==4.2.14
djangorestframework==3.15.2
boto3
dj-database-url
django-environ
psycopg2
django-staff-sso-client==4.2.2
pyyaml==6.0.1
requests
redis
celery
django_celery_beat==2.6.0
django-celery-results
sentry-sdk==2.5.1
backoff
django-prometheus==2.3.1
smart-open
notifications-python-client==6.2.1
elastic-apm
django-log-formatter-asim==0.0.4

whitenoise
gunicorn

urllib3>=1.26.5
drf-spectacular==0.27.1

sqlparse==0.5.0
certifi==2024.7.4
