-r requirements.txt

# Linting utilities
flake8-blind-except
flake8-debugger
flake8-import-order
flake8-print
flake8-quotes
flake8

# Testing utilities
freezegun
pytest-cov
pytest-django
pytest-env
pytest-mock
pytest
requests-mock
factory_boy

# Miscellaneous
docutils
django-extensions
djangorestframework==3.10.3
watchdog[watchmedo]
codecov
drf_yasg
