-r requirements.txt

# Linting utilities
flake8-blind-except
flake8-debugger
flake8-import-order
flake8-print
flake8-quotes
flake8

# Testing utilities
freezegun
pytest-cov
pytest-django
pytest-env
pytest-mock
pytest==8.3.2
requests-mock
factory_boy

# Miscellaneous
docutils
django-extensions>=3.0.0
djangorestframework==3.15.2
watchdog[watchmedo]
codecov
drf-spectacular==0.27.1
