django==5.1.3
djangorestframework==3.15.2
boto3
dj-database-url
dbt-copilot-python==0.2.2
django-environ
psycopg2
django-staff-sso-client==4.3.0
pyyaml==6.0.2
requests
redis
celery==5.4.0
django_celery_beat==2.7.0
django-celery-results
sentry-sdk==2.19.0
backoff
django-prometheus==2.3.1
smart-open
notifications-python-client==6.2.1
elastic-apm
django-log-formatter-asim==0.0.6

whitenoise
gunicorn

urllib3>=1.26.5
drf-spectacular==0.27.2

sqlparse==0.5.2
certifi==2024.8.30
